@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #101415;
  --red: #db1313;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}
