@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #101415;
  --red: #db1313;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-roboto);
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--red) !important;
}

.swiper-pagination-bullet-active {
  background: var(--red) !important;
}
